 span.ff{
        color: #7ed604;
    }
    [class*="page-header"]{
        width: 100%
    }
    @media only screen and (min-width: 640px){
/*
position: absolute;margin-top: -80px;margin-left: 600px*/
.page-header{
   
    margin-left: 250px
}
    }
    [class*="navbar-nav"]{
        width: 100%
    }
    @media only screen and (min-width: 640px){
/*
position: absolute;margin-top: -80px;margin-left: 600px*/
.navbar-nav{
   
    margin-left: 300px;
    position: absolute;
    margin-left: 300px
}
    }